{% include "Admin/head.html.twig" %}
{% include "Admin/header.html.twig" %}

<h1>Ajouter des plats</h1>

{% if errors %}
    <ul class="alert alert-danger">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form action="?route={{ crepe.id ? 'updateFood' : 'addFood' }}" method="post">

    <fieldset class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" id="title" value="{{ crepe.title }}"/>
        <label for="description">Description</label>
        <input type="text" class="form-control" name="description" id="description" value="{{ crepe.description }}"/>
        <label for="price">Price</label>
        <input type="number" step="0.1" class="form-control" name="price" id="price" value="{{ crepe.price }}"/>
        {% if crepe.id is defined %}
            <input type="hidden" name="id" value="{{ crepe.id }}"/>
        {% endif %}
    </fieldset>

    <fieldset class="form-group">
        <label for="category">Category</label>
        <select name="category" id="category" class="form-control">
            {% for category in categories %}
                <option

                            {{ crepe.categoryId == category.id ? 'selected' }}

                        value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </fieldset>

    <button type="submit" class="btn btn-success">

        <span class="glyphicon glyphicon-plus"></span>Confirmer
    </button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>