{% include "Admin/head.html.twig" %}
{% include "Admin/header.html.twig" %}

<h1 class="adminStyle">Supprimer des photos</h1>

<p>{{ uploadInfo }}</p>

<div class="container">
    <div class="row">
        {% for picture in listPictures %}
            <div class="col-xs-4">
                <figure class="thumbnail">
                    <img src="pictures/upload/{{ picture.name }}" class="sizePicture" alt="{{ picture.name }}" />
                </figure>
                <form id="{{ picture.id }}" method="post" action="">
                    <input type="text" name="delete" value="{{ picture.id }}" class="hidden">
                    <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette image?');">
                        Supprimer
                    </button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>